 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.sign-in-page {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    
}

 body {
     background-color: black;
   }

 .wrapper {
     max-width: 850px;
     min-height: 440px;
     margin: 80px auto;
     padding: 40px 30px 30px 30px;
     background-color: #ecf0f3;
     border-radius: 15px;
     box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
     background: url(https://i.pinimg.com/564x/bd/ab/67/bdab67de47ed4a7b85e60fb39c3cc6dd.jpg);
     background-repeat: no-repeat;
     background-size: contain;

 }

 .logo {
     width: 60px;
     border-left: 3cm;
     position:relative;
     top: 3%;
     left: 24%;
     margin-top: 5%;
     margin-left: 10%;
 }

 .login-side {
    background: rgb(24, 24, 24);
    width: 50%; 
    margin-left: 46.8%;
    margin-top: -4.65%;
    position: absolute;
    height: 100.1%;
    border-top-right-radius: 15px; 
    border-bottom-right-radius: 15px;
     
 }

 .logo img {
     width: 240%;
     height: 80px;
     object-fit: cover;
     border-radius: 50%;
     box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff
 }
    #Headline {
        color: white;
        font-size: 200%;
        margin-left: 60%;
    }
 .wrapper .name {
     font-weight: 600;
     font-size: 1.6rem;
     letter-spacing: 1.3px;
     color: #555;
     margin-top: 7%;
 }

 .wrapper .form-field input {
     width: 100%;
     border: none;
     outline: none;
     background: none;
     font-size: 1.2rem;
     color: #666;
     border: none;
     margin-top: -1.5%;
 }

 .wrapper .form-field {
     padding-left: 10px;
     margin-bottom: 20px;
     border-radius: 0;
     margin-top: -4%;
     border-bottom: solid 1.5px white;
     margin-bottom: 11%;
     width: 83%;
     margin-left: 10%;
 }

 .wrapper .form-field .fas {
     color: #555
 }

 .wrapper .btn {
     box-shadow:#555;
     width: 80%;
     height: 40px;
     background-color: #555;
     color: #fff;
     border-radius: 25px;
     box-shadow: 1.5px 1.5px 1.5px #b1b1b1, -1px -1px 1.6px #fff;
     letter-spacing: 1.3px;
     margin-top: -2;
     margin-left: 13%;
 }

 .wrapper .btn:hover {
    background-color: #555;
 }

 .wrapper a {
     text-decoration: none;
     font-size: 0.85rem;
     color: #03A9F4
 }

 .wrapper a:hover {
     color: #039BE5
 }

 @media(max-width: 380px) {
     .wrapper {
         margin: 30px 20px;
         padding: 40px 15px 15px 15px;
     }
 }