.chat__window {
    flex: 0.65;
    display: flex;
    flex-direction: column;
}

.chat__header__info {
    position: absolute;
    margin-top: 4.5%;
    min-height: 18%;
}

.chat__window .chat__header {
    height: 15.5%;
    position: relative;
    display: flex;
    padding-left: 3%;
    align-items: center;
    border-bottom: 1.5px solid #f6f6ff;

    
}

.chat__header__info .chatWindow__header__userName {
    padding-left: 30%;
    margin-top: -15%;
    padding-bottom: 15%;
    color:rgb(108, 105, 105);
    font-weight: 500;
}

.chat__window .chat__header .chat__header__info .rounded-circle {
    width: 20%;
}

.chat__window .chat__body {
    flex: 1;
    background-color: #f6f6ff;
    background-repeat: repeat;
    background-position: center;
    padding: 10%;
    overflow: scroll;
}



