.sidebar {
    flex: 0.35;
    display: flex;
    flex-direction: column;
}

#addButton {
}

.sidebar__header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-right: 1.5px solid #03A9F4;
}

.sidebar__header .rounded-circle {
    width: 16%;
}

.sidebar__headerRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}

.sidebar__header__userName {
    margin-top: 4%;
}
.sidebar__chats {
    flex: 1;
    background-color: rgb(230, 230, 233);
    overflow-y: scroll;
}