#card {
    background-color: rgb(205, 212, 212);
    padding-right: 2%;
    padding-left: 2%;
    height: 92vh;
    width: 98vw;
    place-self: center;
    box-shadow: -1px 4px 20px -6px lightslategray;
}

#title {
    padding-left: 5%;
    margin-top: 2%;
    font-weight: 2000%;
}

#sidebar__header {

}

#sidebar__chats{

    overflow: hidden;
}

#sidebar__chats_scroll {
   display: grid;
   position: relative;
   overflow-y: scroll;
   flex-direction: row;
   background-color: white;
   padding-bottom: 17.58%;
}

 .chat-window-upper {
    padding-top: 1%;
    padding-bottom: 1%;
 }

 .upper-bar {
    background-color: rgb(223, 223, 233);
 }

 .chat-window-messages {
     
     overflow-y: scroll;
     background-color: blue;
 }

 .chat-window-text-box {
    background-color: rgb(223, 223, 233);
 }


.chat-messages {
    display: flex;
    flex-direction: column;
    position: sticky;
}


.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}