/* .chatRoom {
    background-color: #ecf0f3;
    display: grid;
    place-items: center;
    height: 100hv;
}

.chatRoom_body {
    display: flex;
    background-color: #d9dcdd;
    margin-top: -10px;
    height: 550px;
    width: 1200px;
    box-shadow:   10px 10px 15px rgb(188, 187, 187);
} */