.chatRoom {
    display: grid;
    background-color: #ecf0f3;
    place-items: center;
    height: 100vh;
}

.chatRoom__body {
    display: flex;
    background-color: #dfd8d8;
    /*margin-top: -50px; */
    height: 90vh;
    width: 90vw;
    box-shadow: -1px 4px 20px -6px #2c2424;
}

.chat__item {
    background-color: rgb(238, 241, 241);
}